.card {
    background-color: rgb(45, 87, 150);
    color: white;
    box-shadow: 5px 5px 15px rgb(21 74 126), -5px -5px 5px rgb(21 74 126);
    padding: 20px 20px 10px;
    border-radius: 5px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_btns__wrap {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_btn {
    margin: 0!important;
    padding: 2px 0!important;
    width: 50%!important;
}
.card_btn:not(:last-child) {
    margin-right: 10px!important;
}