.visHistory {
    background-color: steelblue;
    min-height: 100vh;
    padding: 50px;
    color: #ffffff;
    text-align: center;
}
.visHistory_title {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
}
.visHistory_content {
    margin-bottom: 40px;
}
.visHistory_subtitle {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
}
.visHistory_content__wrap {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    gap: 25px;
    align-items: stretch;
    justify-content: space-between;
}