.addBrigade {
    min-height: 100vh;
    background-color: steelblue;
    padding-top: 60px;
    text-align: center;
}
.addBrigade_title {
    font-size: 35px;
    text-align: center;
    color: #fff;
    margin-bottom: 70px;
}
.addBrigade__container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.addBrigade_item {
    background-color: rgb(45, 87, 150);
    color: white;
    box-shadow: 5px 5px 15px rgb(21 74 126), -5px -5px 5px rgb(21 74 126);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;
    width: 400px
}
.addBrigade_item select {
    margin: 0 auto 20px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px lightblue solid;
    display: block;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    outline: none;
}
.addBrigade_item option {
    color: lightblue;
    background-color: steelblue;
    border: none;
    outline: none;
}
.addBrigade_btn {
    width: 300px!important;
    margin: 40px 0 0!important;
}
.emp_title {
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
}

