.PatientVacsPage {
    min-height: 100vh;
    background-color: steelblue;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}
.PatientVacsPage_container {

}
.PatientVacsPage_content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
}