.ambulanceCalls {
    background-color: steelblue;
    color: #fff;
    min-height: 100vh;
    padding-bottom: 50px;
}
.ambulanceCalls__title {
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}

.ambulanceCalls_btn__wrap {
    text-align: center;
}
.ambulanceCalls_btn__back {
    width: 250px!important;
    margin: 0!important;
}