.statistic {
    background-color: steelblue;
    padding: 50px;
    min-height: 100vh;
    text-align: center;
    align-items: center;
}
.statistic_item {
    margin: 0 auto 60px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .4),
                -20px -10px 30px rgba(0, 0, 0, .4);
}
.statistic_title {
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 50px;
}
.statistic_content__subtitle {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 35px;
}
.bar {
    width: 800px;
}
.pie {
    width: 500px;
}