.visits_noInfo {
    margin: 50px 0;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: .15em;
}
.visits_btns {
    display: flex;
    flex-direction: column;
}
.visits_list__btn {
    width: 21%;
    margin: 50px auto 0;
}
.visits_list__btn:not(:last-child) {
    margin-bottom: -30px;
}
.visits_title {
    font-size: 35px;
    margin-bottom: 25px;
    letter-spacing: .1em;
}
.visits_container {
    display: grid;
    grid-template-columns: repeat(3, 430px);
    gap: 25px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}