.ambulanceCall {
    padding: 30px 0;
    background-color: steelblue;
    color: #fff;
    font-family: Oswald, sans-serif;
    text-align: center;
    min-height: 100vh;
}
.ambulanceCall__container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px 40px;
    border-radius: 15px;
    max-width: 80%;
    margin: 0 auto;
}
.ambulanceCall__header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
}
.ambulanceCall_form {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 450px);
    align-items: self-end;
    justify-content: center;
    gap: 30px;
}
.ambulanceCall_form__title {
    font-size: 25px;
    padding-bottom: 20px;
}
.ambulanceCall_form__input {
    position: relative;
}
.ambulanceCall_form__input input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}
.ambulanceCall_form__input input::placeholder {
    color: steelblue;
}
.ambulanceCall_form__input input:focus,
.ambulanceCall_form__input input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

.ambulanceCall_form__input input:valid {
    color: steelblue;
}

.ambulanceCall_form__btn {
    cursor: pointer;
    display: inline-block;
    background: lightblue;
    border: 2px solid lightblue;
    padding: 13px 0 14px;
    font-family: inherit;
    border-radius: 5px;
    color: rgb(45, 87, 150);
    font-size: 20px;
    transition: all .5s ease;
    box-shadow: 3px 3px 15px rgb(33, 64, 103);

    width: 100%;
}
.ambulanceCall_form__btn a {
    color: rgb(45, 87, 150);
}
.ambulanceCall_form__btn:hover {
    border: 2px solid lightblue;
    background-color: steelblue;
    color: #fff;
}
.incorrect_value {
    color: #fa7373 !important;
    position: absolute;
    right: 0;
}
.ambulanceCall_incorrect__value {
    right: 0!important;
}
