.visItem_modal {
    background-color: steelblue;
    border-radius: 5px;
    border: 2px solid lightblue;
    box-shadow: 5px 5px 15px rgb(23, 41, 61);
    padding: 20px;
}
.visItem_modal__title {
    letter-spacing: .1em;
    margin-bottom: 15px;
}
.visItem_modal__subtitle {
    font-size: 25px;
    margin-bottom: 15px;
}

.modal_schedule__select {
    width: 42%;
    text-align: center;
    height: 60px;
    font-size: 20px;
    outline: none;
    color: rgb(45, 87, 150);
    box-shadow: 5px 5px 15px rgb(21 74 126), -5px -5px 15px rgb(21 74 126);
    background-color: lightblue;
    border: 2px solid lightblue;
    border-radius: 5px;
    transition: .3s all ease;
    cursor: pointer;
    margin-bottom: 40px;
}
.modal_schedule__select:hover {
    background-color: steelblue;
    color: #ffffff;
    border: 2px solid lightblue;
}
.modal_schedule__select option {
    text-align: center;
}
.modal_schedule__select option:focus {
    background-color: steelblue;
    text-align: center;
}
.visItem_modal__btns {
    display: flex;
    align-items: center;
    justify-content: end;
}
.visItem_modal__btn {
    margin: 0;
}
.visItem_modal__btn:not(:last-child) {
    margin-right: 20px;
}