.pharmacy_orders {
    background-color: steelblue;
    min-height: 100vh;
    padding: 25px;
    color: #ffffff;
}
.pharmacy_orders__title {
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
}
.pharmacy_orders__information {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}
.pharmacy_orders__btns {
    text-align: center;
    padding-top: 30px;
}
.pharmacy_orders__btn {
    width: 250px!important;
}