.addVisit {
    background-color: steelblue;
    color: #ffffff;
    min-height: 100vh;
    text-align: center;
    align-items: center;
}
.addVisit_container {
    padding: 50px 30px 0;
    max-width: 1400px;
    margin: 0 auto;
}
.addVisit_title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}
.addVisit_docs__title {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 500;
}
.addVisit_docs__item {
    width: 36%;
    text-align: center;
    height: 60px;
    font-size: 20px;
    outline: none;
    color: rgb(45, 87, 150);
    box-shadow: 5px 5px 15px rgb(21 74 126), -5px -5px 15px rgb(21 74 126);
    background-color: lightblue;
    border: 2px solid lightblue;
    border-radius: 5px;
    transition: .3s all ease;
    cursor: pointer;
    margin-bottom: 40px;
}
.addVisit_docs__item:hover {
    background-color: steelblue;
    color: #ffffff;
    border: 2px solid lightblue;
}
.addVisit_docs__item option {
    text-align: center;
}
.addVisit_docs__item option:focus {
    background-color: steelblue;
    text-align: center;
}
