.PharmaOrder_item {
    background-color: rgb(45, 87, 150);
    border-radius: 12px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgb(10, 59, 93);
    margin-bottom: 60px;
    color: lightblue;
}

.PharmaOrder_item__info {
    margin-bottom: 20px;
}

.PharmaOrder_actions {
    font-size: 20px;
}
.PharmaOrder_actions__title {
    margin-bottom: 10px;
}
.PharmaOrder_btns__wrap {

}
.PharmaOrder_btn__confirm {
    margin-right: 10px;
}
.PharmaOrder_btn {
    width: auto!important;
    padding: 3px!important;
}
.PharmaOrder_btn:not(:last-child) {
    margin-right: 10px;
}

.PharmaOrder_item__id span,
.PharmaOrder_item__name span,
.PharmaOrder_item__count span,
.PharmaOrder_item__date span,
.PharmaOrder_item__delivery span,
.PharmaOrder_item__total span {
    font-size: 15px;
    color: white;
    font-weight: 700;
}
.PharmaOrder_item__id span {
    font-size: 13px;
}

.red span {
    color: #f34242;
    font-size: 15px;
    font-weight: 700;
}
.green span {
    color: #1dee1d;
    font-size: 15px;
    font-weight: 700;
}