.staff_container {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 25px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
}
.staff_title__main {
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}
.staff_title {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}