.patCard {
    background-color: rgb(45, 87, 150);
    color: white;
    box-shadow: 5px 5px 15px rgb(21 74 126), -5px -5px 5px rgb(21 74 126);
    border-radius: 5px;
    margin-top: 50px;
    font-size: 18px;
}
.patCard_container {
    padding: 25px;
}
.patCard_title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
}