* {
    box-sizing: border-box;
}
.auth {
    background-color: steelblue;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}
.auth_container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px 40px;
    border-radius: 5px;
}
.auth_header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
}

.auth_form__wrap {
    text-align: center;
}
.auth_form__title {
    display: block;
    margin-bottom: 15px;
    font-size: 30px;
    text-align: center;
}
.auth_form__input {
    width: 100%;
}
.auth_form__input input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 22px;
    color: #fff;
    margin-bottom: 20px;
}
.auth_form__input input::placeholder {
    color: #80bdf5;
}
.auth_form__input input:focus,
.auth_form__input input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.auth_form__role {
    width: 100%;
    height: 60px;
    font-size: 25px;
    color: rgb(7, 46, 101) !important;
}
.auth_form__role {
    outline: none;
    color: rgb(45, 87, 150);
    background-color: lightblue;
    border: 1px solid steelblue;
    border-radius: 5px;
}
.auth_form__role option:focus {
    background-color: steelblue;
}

.auth_form__btn {
    width: 100% !important;
    margin-top: 20px!important;
}
.auth_incorrect__value {
    font-size: 18px;
    right: 28%!important;
}
.hide_block {
    display: none;
}

.incorrect {
    color: #fa7373 !important;
    position: absolute;
    right: 0;
}