.analysisHistoryItem {
    background-color: rgb(45, 87, 150);
    color: white;
    box-shadow: 5px 5px 15px rgb(21 74 126), -5px -5px 5px rgb(21 74 126);
    padding: 20px;
    border-radius: 5px;
}
.analysisHistoryItem_title {
    font-weight: 600;
    font-size: 21px;
}
.analysisHistoryItem_content {
    margin-bottom: 10px;
}

.analysisHistoryItem_modal__title {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
}
.analysisHistoryItem_modal__content {
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 15px;
}
.analysisHistoryItem_modal_btn {
    margin: 0;
}
.analysisHistoryItem_modal__item ul {
    text-align: start;
    margin-left: 130px;
}