.edit_modal {
    background-color: rgb(45, 87, 150);
    padding: 50px;
    border-radius: 15px;
    border: 2px solid lightblue;
    box-shadow: 5px 5px 10px rgb(20, 51, 72),
                -5px -5px 10px rgb(28, 63, 93);
}
.edit_modal__title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}
.standard_input__wrap {
    margin-bottom: 25px;
}
.edit_modal__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit_modal__btn {
    width: 48% !important;
}