.header_container {
    background-color: steelblue;
    padding: 20px 40px 40px;
}
.header_menu {
    display: flex;
    justify-content: right;
}
.link_item {
    text-decoration: none;
    color: lightblue;
    transition: all .5s ease;
    font-size: 20px;
}
.link_item:not(:last-child) {
    margin-right: 30px;
}
.link_item:hover {
    opacity: .6;
}

.pharma_links {
    color: lightblue;
    background-color: steelblue;
    text-align: center;
    border: none;
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}
.pharma_links::-ms-expand {
    /* IE */
    display: none;
}
select:active, select:focus{
    outline:none
}


.clear {
    clear: both;
}

.wrapper {
    width: 100%;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: inherit;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation li {
    float: left;
    border-radius: 5px 5px 0 0 ;
    transition: all .3s ease;
}

.navigation li:hover {
    background: rgb(45, 87, 150);
}

.navigation li a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    line-height: 40px;
    color: #fff;
}

.navigation ul {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    overflow: hidden;
}

.navigation ul li {
    float: none;
}

.navigation li:hover > ul {
    display: block;
    background: rgb(45, 87, 150);
    /*border: solid 3px #fff;*/
    border-top: 0;

    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;

    /*-webkit-box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);*/
    /*box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);*/
}

.navigation li:hover > ul li:hover {
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.navigation li li a {
    transition: all .3s ease;
}
.navigation li li a:hover {
    background: #0e324d;
}

.navigation ul li:last-child a,
.navigation ul li:last-child a:hover {
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}