.pharmacy_item {
    border-radius: 5px;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(45, 87, 150);
    color: white;
    box-shadow: 5px 5px 15px rgb(21, 74, 126),
            -5px -5px 5px rgba(21, 74, 126);
}
.pharmacy_item__title {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.pharmacy_item__count,
.pharmacy_item__price {
    padding-left: 5px;
}
.pharmacy_item__count span,
.pharmacy_item__price span {
    font-weight: 700;
    cursor: default;
}
.pharmacy_item__btns {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
}
.pharmacy_item__btn:not(:last-child) {
    margin-bottom: 10px!important;
}
.pharmacy_item__btn {
    width: 90% !important;
    margin: 0 auto!important;
}
.pharm_modal__btn {
    width: 100% !important;
}
.pharm_btn {
    margin-bottom: 5px!important;
}
.edit_form__btns {
    text-align: center;
}
.edit_form__btn {
    width: 45%!important;
}
.edit_form__btn:not(:last-child) {
    margin-right: 25px;
}

.incorrect_value {
    color: #fa7373 !important;
    position: absolute;
    right: 0;
}