.ambulance {
    min-height: 100vh;
    background-color: steelblue;
}
.ambulance_groups__title {
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding: 60px 0;
}
.ambulance_btns {
    margin-top: 50px;
    text-align: center;
}
.ambulance_btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ambulance_btn:not(:last-child) {
    margin-bottom: 20px;
}
.ambulance_btn {
    width: 300px!important;
}
