.vacCard {
    background-color: rgb(45, 87, 150);
    color: white;
    box-shadow: 5px 5px 15px rgb(21 74 126), -5px -5px 5px rgb(21 74 126);
    border-radius: 5px;
    margin-top: 50px;
    font-size: 14px;
    text-align: start;
}
.vacCard_container {
    padding: 25px;
}
.vacCard_title {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}